@using iCelerium.Models.BodyClasses;
@using iCelerium.Models;
@model iCelerium.Models.BodyClasses.AgentClientsModel
@{
    ViewBag.Title = "Membres";
}

<h3><i class="fa fa-users"></i> @ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-12 alert alert-info">
        <strong>@ViewBag.Nom</strong><span class="badge pull-right">@ViewBag.tCount</span>

    </div>

</div>
<div class="row">
    <div class="panel panel-success">
        <div class="table-responsive">
            <table class="table table-striped table-condensed dataTable DataTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
   
        var cc = @Html.Raw(Json.Encode(ViewBag.AgentID))
    $.ajax({
        url: "/Agents/GetAgentAssign?agentID=" + cc,
        type: "POST",
        data: JSON.stringify(),
        dataType: "json",
        traditional: true,
        contentType: "application/json; charset=utf-8",
        success: function (Jdata) {
            if (Jdata != null) {

                $('.DataTable').DataTable(
                         {
                             "language": {
                                 "lengthMenu": "Projection _MENU_ records par page",
                                 "zeroRecords": "Pas de donnee - Desole!!",
                                 "info": "Projection page _PAGE_ de _PAGES_",
                                 "infoEmpty": "Pas de donne a afficher. Desole!!",
                                 "infoFiltered": "(filtre de _MAX_ total records)",
                                 "search": "<i class='fa fa-search'></i>",
                                 "searchPlaceholder": "Filtrer"
                             },
                             "ajax": "/Agents/GetAgentAssign?agentID=" + cc,
                             "columns": [
                                 { "data": "NameID" },
                                  { "data": "Mise" },
                                    { "data": "Solde" },
                                    { "data": "link" }
                             ]
                         });


            }
            else {
                alert("Error occurs on the Database level!");
            }
        },
        error: function () {
            alert("An error has occured!!!");
        }
    });
  
</script>